---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import AlwaysOn from '../components/sections/AlwaysOn.astro';
import NotANumber from '../components/sections/NotANumber.astro';
import Services from '../components/sections/Services.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import QuickCheck from '../components/sections/QuickCheck.astro';
import FreeAudit from '../components/sections/FreeAudit.astro';
import TrustStats from '../components/sections/TrustStats.astro';
import About from '../components/sections/About.astro';
import FeaturedWork from '../components/sections/FeaturedWork.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Referral from '../components/sections/Referral.astro';
import FreeGuide from '../components/sections/FreeGuide.astro';
import BottomCTA from '../components/sections/BottomCTA.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <AlwaysOn />
    <NotANumber />
    <Services />
    <HowItWorks />
    <QuickCheck />
    <FreeAudit />
    <TrustStats />
    <About />
    <FeaturedWork />
    <Testimonials />
    <Referral />
    <FreeGuide />
    <BottomCTA />
  </main>
  <Footer />
</BaseLayout>
